* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp9069757.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#res {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#res p, h2 {
  margin-top: 1.5rem;
}

.caixa-maior {
  background-color: black;
  opacity: 0.7;
  width: 100%;
  max-width: 400px;
  border-radius: 25px;
  padding: 20px;
}

.lupa {
  height: 15px;
  width: 15px;
}

button {
  border: none;
  padding: 10px;
  background-color: rgb(122, 113, 113);
  cursor: pointer;
  border-radius: 50%;
  float: right;
  margin-bottom: 30px;
}

button:hover {
  background-color: aquamarine;
}

input {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 7px;
  background-color: rgb(236, 232, 227);
  color: #000000;
  width: calc(100% - 50px);
  font-size: 20px;
}

.cidade {
  color: rgb(243, 243, 242);
  font-size: 28px;
  margin-top: 10px;
}

.temp {
  margin-top: 10px;
  font-size: 20px;
  color: azure;
}

.umidade {
  margin-top: 10px;
  font-size: 15px;
  color: azure;
}

.erro {
  color: red;
  font-weight: bold;
  margin: 10px 0;
}
